@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
}

h1 {
  margin-top: 0;
}

article {
  margin-top: 20px;
  padding: 20px;
  background: #e1f5fe;
  border: 3px solid #039be5;
}

h2 {
  margin-top: 0;
}

.date {
  color: #666;
}