@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #e8f5e9;
    border-bottom: 5px solid #4caf50;
    padding: 40px;
    text-align: center;
}

.sub-title {
    margin-top: 0;
    color: #666;
}

h1 {
    margin: 16px 0;
}

.catch-copy {
    font-style: 20px;
}

p:last-child {
    margin-bottom: 0;
}
